# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Optional coverage or build
coverage/
dist/
build/
